.candy-1:hover {
  background-image: url(../images/konfeta-orange-full.svg);
}
.candy-2:hover {
  background-image: url(../images/konfeta-beige-full.svg);
}
.candy-3:hover {
  background-image: url(../images/konfeta-green-full.svg);
}
.candy-4:hover {
  background-image: url(../images/konfeta-pink-full.svg);
}
.candy-5:hover {
  background-image: url(../images/konfeta-lightblue-full.svg);
}
.candy-6:hover {
  background-image: url(../images/konfeta-blue-full.svg);
}
.empty-1:hover,
.empty-2:hover,
.empty-3:hover,
.empty-4:hover,
.empty-5:hover,
.empty-6:hover {
  display: none;
}
/* SECOND SCREEN */
.pic-11:hover,
.pic-15:hover,
.pic-16:hover,
.pic-13:hover,
.pic-10:hover,
.pic-6:hover,
.pic-1:hover,
.pic-7:hover,
.pic-9:hover {
  opacity: 0;
}
@keyframes row {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.a-1:hover {
  color: #a9deeb;
}
.a-2:hover {
  color: #f79628;
}
.a-3:hover {
  color: #9bab62;
}
.a-4:hover {
  color: #a9deeb;
}
.a-5:hover {
  color: #4a76b2;
}
.a-6:hover {
  color: #4a76b2;
}
.a-7:hover {
  color: #a9deeb;
}
.a-8:hover {
  color: #a9deeb;
}
.a-9:hover {
  color: #f79628;
}
.a-10:hover {
  color: #a9deeb;
}
.a-11:hover {
  color: #fdbecc;
}
.a-12:hover {
  color: #f79628;
}
.a-13:hover {
  color: #fdbecc;
}
.a-14:hover {
  color: #a9deeb;
}
.a-15:hover {
  color: #9bab62;
}
